/** @section Layout */

@include media-breakpoint-up( lg ) {
	.layout-1 {
		.layout-item-2 {
			margin-top: 70px;
		}
	}
}

@include media-breakpoint-up( xl ) {
	.layout-1 {
		.layout-item-1 {
			margin-bottom: 70px;
		}
		.layout-item-2 {
			margin-top: 158px;
		}
	}

	.layout-2 {
		.layout-item-1 {
			margin-top: -200px;
		}
	}
}

@include media-breakpoint-up( xxl ) {
	.layout-2 {
		.layout-item-1 {
			margin-top: -334px;
		}
	}
}