/** @section Panel Custom */

//
// Panels Custom
// --------------------------------------------------
$panel-title-color: $gray-dark;
$panel-title-background: $white;
$panel-title-padding: 12px 57px 13px 40px;
$panel-title-sm-padding: 12px 57px 13px 71px;
$panel-active-background: #f6f6f6;
$panel-arrow: '\f107';
$panel-arrow-font: 400 24px/24px "FontAwesome";
$panel-body-padding: 0 25px 30px 40px;
$panel-body-sm-padding: 0 30px 22px 73px;

// Base Style
// --------------------------------------------------

.panel {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.panel-custom {
  &.panel-custom-default {
    border-top: 1px solid #f2f2f2;
  }

  .panel-custom-title {
    font-size: 14px;
    font-weight: 700;
    color: $gray;

    > a {
      position: relative;
      padding: $panel-title-padding;
      font-weight: 400;
      color: $panel-title-color;
      background: $panel-active-background;
      transition: .3s all ease;

      &:before {
        content: $panel-arrow;
        position: absolute;
        top: 50%;
        left: 10px;
        margin-top: 1px;
        font: $panel-arrow-font;
        color: $primary;
        transform: translateY(-50%) rotate(-180deg);
        transition: .3s all ease;
      }

      &.collapsed {
        background: $panel-title-background;

        &:before {
          transform: translateY(-50%) rotate(0deg);
        }
      }

      &:hover {
        text-decoration: none;
        background: $panel-active-background;
      }

      @include media-breakpoint-up(md) {
        padding: $panel-title-sm-padding;

        &:before {
          left: 31px;
        }
      }
    }
  }

  .panel-custom-collapse {
    background: $panel-active-background;

    .panel-custom-body {
      padding: $panel-body-padding;

      @include media-breakpoint-up(md) {
        padding: $panel-body-sm-padding;
      }
    }
  }
}

h3 + .panel-custom-group-wrap {
  margin-top: 30px;
}
