/** @section  Positions*/

.sticky{
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  display: block;
  @include media-breakpoint-up(xl) {
    height: 100vh;
  }
}

.sticky-xl{
  @include media-breakpoint-up(xl) {
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    display: block;
    height: 100vh;
  }
}

.sticky-top{
  top: 56px;
  z-index: 10;
}

.sticky-top-0{
  top: 0;
}


.ie-10,.ie-11{
  .sticky{
    position: relative;
  }
}
