<footer class="page-footer page-footer-divided section-fullwidth bg-gray-dark" id="footer"><a
        class="section-button-forward section-button-forward-top mdi mdi-chevron-up" href="#"
        data-custom-scroll-to="section-4"></a>
    <div class="container-fluid">
        <div class="row justify-content-sm-center g-0">
            <div class="col-sm-10 col-lg-8 col-xl-6">
                <div class="sticky sticky-top">
                    <div class="google-map-static-container" style="width: 100%;">
                        <style>
                            .google-map-static-container {
                                height: 250px;
                            }

                            @media (min-width: 768px) {
                                .google-map-static-container {
                                    height: 550px;
                                }
                            }

                            @media (min-width: 1200px) {
                                .google-map-static-container {
                                    height: 100%;
                                    min-height: 550px;
                                }
                            }
                        </style>
                        <iframe
                            src="https://maps.google.com/maps?q=Majstra%20Pavla%2018,%20Levoča&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                            style="width: 100%; height: 100%; border: 0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 text-center">
                <div
                    class="row justify-content-sm-center align-items-sm-center section-xl section-xl--inset-bottom-50 g-0-xl">
                    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-6 col-xxl-4"><a class="brand" href="index.html"><img
                                src="images/logo-light-150x150.png" width="150" height="150" alt=""></a>
                        <p>Dobrý deň! Sme Leutschau Café, kaviareň s vášňou pre prípravu a predaj kávy so skvelou
                            chuťou v srdci historickej Levoče.</p>
                        <div class="contact-info"><span class="icon icon-sm mdi mdi-map-marker"></span>
                            <p><a href="contacts.html">Námestie Majstra Pavla 18, <br> 054 01 Levoča</a></p>
                            <span class="icon icon-sm mdi mdi-calendar-clock"></span>
                            <p>Po-Št: 09:00—21:30, Pi-So: 09:00—22:30, Ne: 13:00—20:30</p><span
                                class="icon icon-sm mdi mdi-phone"></span>
                            <p><a href="tel:0903970333">0903 970 333</a></p><a class="button button-sm button-primary"
                                href="contacts.html">Rezervovať stôl</a>
                        </div>
                    </div>
                    <div class="col-sm-12 privacy-wrap">
                        <p class="rights"><span>&copy;&nbsp;</span><span
                                class="copyright-year"></span><span>&nbsp;</span><span>Leutschau
                                Café</span><span>.&nbsp;</span><span>Všetky práva
                                vyhradené.</span><span>&nbsp;</span><a href="privacy-policy.html">Ochrana súkromia</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>