<header class="page-header page-header-absolute page-header-dark">
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-default rd-navbar-wide rd-navbar-minimal rd-navbar-minimal-dark rd-navbar-classic-dark"
            data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
            data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
            data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static"
            data-xl-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px"
            data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner">
                <div class="rd-navbar-panel">
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!-- Admin login for mobile -->
                    <a href="admin/index.html" class="admin-login-link-mobile d-lg-none" title="Admin prihlásenie" id="mobile-login-link" style="position: absolute; right: 55px; top: 50%; transform: translateY(-50%); color: rgba(255,255,255,0.7); font-size: 28px; z-index: 10;"><span class="icon mdi mdi-account-circle"></span></a>
                </div>
                <div class="rd-navbar-minimal-inner">
                    <div class="rd-navbar-minimal-left">
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-nav-scroll-holder">
                                <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark"
                                        src="images/logoLeutschau.jpg" alt="" width="75" height="75"
                                        style="opacity: 0.5;" /><img class="brand-logo-light"
                                        src="images/logo-light-150x150.png" alt="" width="75" height="75" /><img
                                        class="brand-logo-white" src="images/logo-light-290x290.png" alt="" width="145"
                                        height="145" /></a>
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Domov</a></li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">O nás</a>
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="press.html">História kaviarne</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="testimonials.html">Recenzie</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="blog.html">Novinky</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="events.html">Eventy</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="menu.html">Nápojový lístok</a>
                                    </li>

                                    <li class="rd-nav-item"><a class="rd-nav-link" href="gallery-grid.html">Galéria</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Kontakt</a>
                                    </li>
                                    <li class="rd-nav-item rd-nav-item-careers">
                                        <a class="rd-nav-link" href="careers.html">Pracuj u nás</a>
                                    </li>
                                    <li class="rd-nav-item d-lg-none">
                                        <a class="rd-nav-link admin-nav-link" href="admin/index.html">Admin</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-minimal-right">
                        <div class="rd-navbar-admin-link">
                            <a href="admin/index.html" class="admin-login-link desktop-login-link" title="Admin prihlásenie" style="vertical-align: middle; color: rgba(255,255,255,0.5); transition: .3s;"><span class="icon icon-xs mdi mdi-account-circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<script>
    (function() {
        var currentFile = window.location.pathname.split('/').pop() || 'index.html';
        var loginLinks = document.querySelectorAll('.admin-login-link, .admin-login-link-mobile, .admin-nav-link');
        loginLinks.forEach(function(link) {
            var originalHref = link.getAttribute('href');
            if (originalHref.indexOf('admin/index.html') !== -1) {
                link.setAttribute('href', originalHref + '?redirect=' + encodeURIComponent(currentFile));
            }
        });
    })();
</script>