<header class="page-header page-header-absolute page-header-dark">
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-default rd-navbar-wide rd-navbar-minimal rd-navbar-minimal-dark rd-navbar-classic-dark"
            data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
            data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
            data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static"
            data-xl-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px"
            data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-inner">
                <div class="rd-navbar-panel">
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                </div>
                <div class="rd-navbar-minimal-inner">
                    <div class="rd-navbar-minimal-left">
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-nav-scroll-holder">
                                <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark"
                                        src="images/logoLeutschau.jpg" alt="" width="75" height="75"
                                        style="opacity: 0.5;" /><img class="brand-logo-light"
                                        src="images/logo-light-150x150.png" alt="" width="75" height="75" /><img
                                        class="brand-logo-white" src="images/logo-light-290x290.png" alt="" width="145"
                                        height="145" /></a>
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Domov</a></li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">O nás</a>
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="team.html">Náš Tím</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="press.html">Médiá</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="faq.html">FAQ</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="careers.html">Kariéra</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="testimonials.html">Recenzie</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="team-member-profile.html">Team
                                                    Member Profile</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="blog.html">Novinky</a>
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="blog.html">Čo
                                                    nás čaká</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="blog-classic.html">Pracuj u nás</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="blog-grid.html">Blog grid</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="blog-list.html">Blog list</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="blog-post.html">Blog Post</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="menu.html">Menu</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="catalog.html">Eventy</a>
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="catalog.html">Zoznam eventov</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="single-product.html">Single
                                                    Product</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="shopping-cart.html">Shopping
                                                    Cart</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="checkout.html">Checkout</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="#">Galéria</a>
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="gallery-grid.html">Galéria Mriežka</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="gallery-masonry.html">Galéria Masonry</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="gallery-creative.html">Kreatívna Galéria</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="gallery-slider.html">Galéria Slider</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Kontakt</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-minimal-right">
                        <!--RD Navbar Search-->
                        <div class="rd-navbar-search"><a class="rd-navbar-search-toggle"
                                data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-panel" href="#"><span></span></a>
                            <form class="rd-search" action="search-results.html"
                                data-search-live="rd-search-results-live" method="GET">
                                <div class="form-wrap">
                                    <label class="form-label form-label"
                                        for="rd-navbar-search-form-input">Hľadať...</label>
                                    <input class="rd-navbar-search-form-input form-input"
                                        id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>