extends  ../_skeleton

block variables
	- pageName = '503'

block page

	.page-content(style='background: #191919 url(images/background-07-1920x1080.jpg) center/cover no-repeat')
		.one-page.bg-overlay-black.text-center.one-screen-content

			.one-page-header
				+logo

			//- 404
			.container
				.row.justify-content-sm-center.align-items-sm-center.justify-content-center
					.col-xl-9.text-white
						.text-extra-big 503
						h2 Service is Temporary Unavailable
						p.block-sm Sorry, we're offline right now to make our site even better. Please, come back later and check what we've been up to.
						a.button.button-primary(href="index.html") Back to Home Page

			.one-page-footer
				+rights