extends  ../_skeleton

block variables
	-
		var activeIndex = 1
		var footerBackSection = "section-5"

block title
	title Home Variant 5

block page
	//- Page Header
	include ../sections/_header-classic-wide

	section.section.section-intro.bg-image.context-dark( style='background-image:url(images/background-23-1920x830.jpg)' )
		.section-intro-inner.section-lg
			.container-wide.container-fluid
				.row
					.col-sm-10.col-xl-7.col-xxl-5.offset-sm-1.text-block-1
						h1 Fall In Love With Coffee All Over Again
						h5 Explore the best coffee collections at Beans.

	section.section.section-lg.bg-default.layout-2
		.container-wide.container-fluid
			.row.row-30
				.col-lg-9.col-xl-6.col-xxl-5.offset-xl-1.text-block-1.mt-xl-5
					h1 Your #1 Place to Have a Cup of Hot and Tasty Coffee
					.row.row-offset-1
						.col-md-10.offset-md-1.offset-sm-1.offset-xl-2
							h5: span.d-inline-block( style='max-width: 670px' ) We provide the best coffee to individual customers as well as to shops and supermarkets. Here are the recent customer reviews.
				.col-md-3.col-xl-4.offset-xl-1.d-none.d-lg-block.layout-item-1
					+img( 'index-variant-5-01-570x749' )

	section.section.section-lg.bg-default
		.container-wide.container-fluid.isotope-wrap
			.row.justify-content-center.justify-content-lg-start
				.col-lg-4.col-xxl-4.d-none.d-lg-block
					+img( 'index-variant-5-02-570x749' )
				.col-md-10.col-lg-8.col-xxl-6.offset-xxl-1.mt-xxl-5
					.text-block-1
						h1 Menu
						h5: span.d-inline-block( style='max-width: 600px' ) Enjoy rich, warm, and strong coffee and other dishes & beveragesat our coffee shop.
						ul.isotope-filters.isotope-filters-lg.isotope-filters-horizontal
							li
								a(data-isotope-filter='Coffee', data-isotope-group='gallery', href='#') Coffee
							li
								a(data-isotope-filter='Other Drinks', data-isotope-group='gallery', href='#') Other Drinks
							li
								a(data-isotope-filter='Desserts', data-isotope-group='gallery', href='#') Desserts
							li
								a(data-isotope-filter='Food', data-isotope-group='gallery', href='#') Food
						.row.row-30.isotope(data-isotope-layout='fitRows', data-isotope-group='gallery')
							.col-12.col-sm-6.isotope-item(data-filter='*')
								+product-list({
									title: 'Espresso',
									price: '$1.99',
									text: 'Lavazza, classic coffee, 30ml'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Coffee')
								+product-list({
									title: 'Ristretto',
									price: '$1.39',
									text: 'Lavazza, arabica, robusta, 22ml'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Coffee')
								+product-list({
									title: 'Americano',
									price: '$2.49',
									text: '60ml Espresso, 90ml Hot Water'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Coffee')
								+product-list({
									title: 'Lungo',
									price: '$1.39',
									text: '60ml Less Concentrated Espresso'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Coffee')
								+product-list({
									title: 'Macchiato',
									price: '$2.49',
									text: '60ml Espresso, Dot of Foamed Milk'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Coffee')
								+product-list({
									title: 'Cappuccino',
									price: '$1.39',
									text: '60ml Espresso, 60ml Steamed Milk, 60ml Foamed Milk'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Food')
								+product-list({
									title: 'Burger',
									price: '$4.49',
									text: 'Worcestershire sauce, onions, mustard, ground beef'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Food')
								+product-list({
									title: 'Burger XXL',
									price: '$1.39',
									text: 'Ground beef, chopped iceberg lettuce, American cheese'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Food')
								+product-list({
									title: 'Double Burger',
									price: '$4.49',
									text: '1 tbsp chopped red onion, Tabasco sauce, ground beef, sesame buns'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Food')
								+product-list({
									title: 'Chicken Burger',
									price: '$1.39',
									text: '1 pound of ground white meat chicken, fresh breadcrumbs, cayenne pepper'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Food')
								+product-list({
									title: 'Fish Burger',
									price: '$4.49',
									text: '2 tbsp chopped parsley, catfish'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Food')
								+product-list({
									title: 'French Fries',
									price: '$1.39',
									text: '1 russet potato, vegetable oil, salt'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Desserts')
								+product-list({
									title: 'Tiramisu',
									price: '$4.49',
									text: 'Mascarpone, heavy cream, Tia Maria'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Other Drinks')
								+product-list({
									title: 'Red Beer',
									price: '$1.39',
									text: 'Highland Gaelic Ale, Amber Ale etc.'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Other Drinks')
								+product-list({
									title: 'Beer',
									price: '$4.49',
									text: 'Bud Light Platinum, Natural Ice etc.'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Other Drinks')
								+product-list({
									title: 'Dark Beer',
									price: '$1.39',
									text: 'Stoke, 4 Pines, Wicked Elf, Guinness'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Other Drinks')
								+product-list({
									title: 'Balck Tea',
									price: '$4.49',
									text: 'Arbor Teas, Wegmans, Simpson & Vail'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Other Drinks')
								+product-list({
									title: 'Green Tea',
									price: '$1.39',
									text: 'Yamamotoyama, TeaVivre, Tazo Tea'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Other Drinks')
								+product-list({
									title: 'Red Tea',
									price: '$4.49',
									text: 'Vanilla Red Tea, Pomegranate Red Tea, Ginger Tea, Peach Flavored Tea'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Other Drinks')
								+product-list({
									title: 'Water',
									price: '$1.39',
									text: 'Perrier, Voss, Evian, Smartwater, Icelandic Glacial, Acqua Panna'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Desserts')
								+product-list({
									title: 'Ice Cream',
									price: '$4.49',
									text: 'Fudge Brownie, Cherry Sundae etc.'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Food')
								+product-list({
									title: 'Cheaseburger',
									price: '$1.39',
									text: 'Swiss cheese, ground beef, blue cheese'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Desserts')
								+product-list({
									title: 'Cheasecake',
									price: '$4.49',
									text: 'Graham crackers, cream cheese'
								})

							.col-12.col-sm-6.isotope-item(data-filter='Desserts')
								+product-list({
									title: 'Vanila Cupcake',
									price: '$1.39',
									text: 'Cream butter, eggs, sugar'
								})

	section.section.section-lg.bg-default.text-center.text-lg-start
		.container-wide.container-fluid
			.row.row-50.row-xl-30.layout-1.justify-content-center.justify-content-lg-start
				.col-sm-6.col-md-10.col-lg-6.col-xl-5.offset-xl-1.text-block-1.layout-item-1.align-self-xl-end
					h1 Get the most out of your favorite coffee
				.col-sm-6.col-md-10.col-lg-6.col-xl-5.col-xxl-4.offset-xxl-1
					+img( 'index-variant-5-03-570x380' )
				.col-xs-6.col-md-5.offset-lg-2
					+blurb-side({
						title: 'Coffee variety',
						text: 'We sell and serve various types of coffee ranging from cappuccino to flat white.'
					})
						svg( width='50' height='50' viewBox='0 0 50 50' fill='none' )
							path(d='M11.5984 14.0582C17.6883 7.9998 27.3063 7.34162 34.1648 12.5139C34.5251 12.788 35.0394 12.7181 35.3135 12.3578C35.5876 11.9974 35.5177 11.4831 35.1574 11.209C27.6532 5.51822 17.1001 6.24001 10.4405 12.8995C3.78103 19.559 3.05924 30.1121 8.75001 37.6164C8.92494 37.8558 9.21557 37.9821 9.50998 37.9466C9.80439 37.9111 10.0567 37.7194 10.1697 37.4452C10.2827 37.171 10.2388 36.8572 10.0549 36.6246C4.88242 29.7663 5.54025 20.1483 11.5984 14.0582Z' fill='white')
							path(d='M37.6427 14.6861C37.283 14.96 37.2129 15.4734 37.4861 15.8336C42.6824 22.685 42.0238 32.3205 35.9436 38.4011C29.8634 44.4817 20.228 45.1409 13.3763 39.9451C13.016 39.671 12.5016 39.7409 12.2275 40.1013C11.9534 40.4616 12.0233 40.9759 12.3837 41.25C19.8879 46.9408 30.441 46.219 37.1005 39.5595C43.76 32.9 44.4818 22.3469 38.7911 14.8427C38.5171 14.4824 38.0031 14.4123 37.6427 14.6861Z' fill='white')
							path(d='M43.0025 1.19917L36.8296 7.3713C27.0525 0.59577 13.7211 2.40024 6.09703 11.5311C-1.52701 20.6619 -0.9239 34.1014 7.48735 42.5127C15.8986 50.9239 29.3381 51.5271 38.4689 43.903C47.5998 36.279 49.4043 22.9475 42.6287 13.1705L48.8009 6.99753C50.402 5.39636 50.402 2.80034 48.8009 1.19917C47.1997 -0.402002 44.6037 -0.402002 43.0025 1.19917ZM45.082 26.2295C45.082 37.9995 35.5405 47.541 23.7705 47.541C12.0005 47.541 2.45907 37.9995 2.45907 26.2295C2.45907 14.4595 12.0005 4.91802 23.7705 4.91802C35.5351 4.93112 45.0689 14.4649 45.082 26.2295ZM47.6419 5.83851L41.6394 11.8451C40.6053 10.5631 39.4375 9.39504 38.1558 8.36065L44.1615 2.35491C45.1226 1.39384 46.6808 1.39384 47.6419 2.35491C48.6029 3.31597 48.6029 4.87417 47.6419 5.83524V5.83851Z' fill='white')
							path(d='M22.9509 38.4893V40.9836C22.9509 41.4363 23.3178 41.8032 23.7705 41.8032C24.2232 41.8032 24.5902 41.4363 24.5902 40.9836V38.4893C30.1081 38.1412 34.7496 34.2261 36.023 28.8459C36.2243 28.0455 35.8427 27.2126 35.105 26.8426C34.4703 26.5527 33.7191 26.76 33.323 27.3344C31.5312 29.7442 28.2336 31.2885 24.5902 31.4951V29.477C28.5553 29.2221 32.0188 26.706 33.4869 23.0139C33.8085 22.2256 33.5301 21.3199 32.8214 20.8483C32.2027 20.4466 31.3851 20.5457 30.8804 21.0836C29.1576 22.6667 26.9281 23.5856 24.5902 23.6762V21.8073C28.8459 19.5655 29.5082 17.1278 29.5082 15.8467C29.5529 14.9387 29.2307 14.0509 28.614 13.383C27.9974 12.715 27.1382 12.323 26.2295 12.2951C25.3325 12.293 24.4628 12.604 23.7705 13.1746C23.0783 12.604 22.2086 12.293 21.3115 12.2951C20.4029 12.323 19.5436 12.715 18.927 13.383C18.3104 14.0509 17.9882 14.9387 18.0328 15.8467C18.0328 17.1278 18.6951 19.5655 22.9509 21.8073V23.6762C20.6164 23.5855 18.3899 22.6691 16.6681 21.0901C16.1612 20.5531 15.3428 20.4555 14.7238 20.8582C14.0164 21.3293 13.7391 22.2337 14.0607 23.0205C15.531 26.7068 18.9904 29.2189 22.9509 29.4762V31.4951C19.3107 31.2885 16.0156 29.7475 14.2238 27.3393C13.8266 26.7648 13.0748 26.5576 12.4394 26.8475C11.7012 27.2178 11.3202 28.052 11.5238 28.8524C12.8026 34.2259 17.4386 38.1356 22.9509 38.4893ZM19.6722 15.8467C19.6308 15.3746 19.7813 14.9057 20.0898 14.5459C20.3982 14.1861 20.8386 13.9657 21.3115 13.9344C22.0085 13.9355 22.6661 14.2575 23.0943 14.8073C23.2467 15.027 23.4966 15.1586 23.764 15.1598C24.0329 15.1523 24.2839 15.0229 24.4459 14.8082C24.8742 14.2577 25.5322 13.9354 26.2295 13.9344C26.7024 13.9657 27.1428 14.1861 27.4513 14.5459C27.7597 14.9057 27.9103 15.3746 27.8689 15.8467C27.8689 17.3852 26.382 19.0295 23.7705 20.3926C21.1591 19.0295 19.6722 17.3852 19.6722 15.8467ZM15.5943 22.4393C15.5777 22.4003 15.5707 22.3578 15.5738 22.3155C17.8075 24.3472 20.7416 25.4343 23.7599 25.3483H23.7697H23.7795C26.8008 25.4322 29.737 24.3426 31.9722 22.3082C31.9751 22.3507 31.9681 22.3934 31.9517 22.4328C30.6101 25.7614 27.3589 27.9217 23.7705 27.8688C20.186 27.9191 16.9386 25.7626 15.5943 22.4393ZM23.7705 33.1754C28.0804 33.1754 32.1025 31.4459 34.391 28.6303C33.1557 33.4846 28.7857 36.8831 23.7767 36.8848C18.7677 36.8866 14.3953 33.4911 13.1566 28.6377C15.4386 31.4459 19.4615 33.1754 23.7705 33.1754Z' fill='white')

					+blurb-side({
						title: 'Own roasting',
						text: 'We roast all coffees we get from our suppliers using our exclusive hot roasting technique.'
					})
						svg( width='39' height='50' viewBox='0 0 39 50' fill='none' )
							path(d='M18.8008 29.3975C15.0275 25.6242 9.57499 24.9167 6.64415 27.8283C5.43366 29.0746 4.78027 30.7584 4.83332 32.495C4.93975 35.3288 6.15579 38.0072 8.21915 39.9525C10.184 42.01 12.8759 43.2171 15.7192 43.3158C17.4492 43.364 19.1267 42.7179 20.3775 41.5217C21.5877 40.2753 22.2408 38.5914 22.1875 36.855C22.0808 34.0211 20.8645 31.3427 18.8008 29.3975ZM9.39749 38.7742C7.65707 37.1328 6.61883 34.8819 6.49998 32.4925C6.49268 31.8369 6.60391 31.1853 6.82832 30.5692C7.55584 31.0002 8.37151 31.2609 9.21415 31.3317C11.0858 31.429 12.5827 32.922 12.685 34.7933C12.8945 37.3972 14.9648 39.463 17.5692 39.6667C18.1837 39.7075 18.7809 39.8882 19.315 40.195C19.2733 40.2408 19.2425 40.2958 19.1992 40.3392C16.9208 42.6042 12.5233 41.9 9.39749 38.7742ZM20.1908 38.7808C19.4635 38.3496 18.6477 38.0891 17.805 38.0192C15.9328 37.9222 14.4352 36.4286 14.3333 34.5567C14.1253 31.9521 12.0549 29.8852 9.44999 29.6817C8.83538 29.6403 8.2383 29.4593 7.70415 29.1525C7.74582 29.1067 7.77582 29.0517 7.81998 29.0083C8.75859 28.117 10.0155 27.6394 11.3092 27.6825C13.7098 27.7925 15.9738 28.8308 17.6233 30.5783C19.3627 32.2195 20.4001 34.4698 20.5183 36.8583C20.5259 37.5137 20.4149 38.165 20.1908 38.7808Z' fill='white')
							path(d='M17.7917 26.6667C17.9859 26.7728 18.2144 26.7973 18.4267 26.7348C18.639 26.6722 18.8177 26.5278 18.9234 26.3334C20.2567 23.9017 22.2925 22.5 24.5067 22.4959C24.6395 22.4959 24.7745 22.5017 24.9117 22.5134C24.743 23.3035 24.3737 24.0367 23.8392 24.6425C21.8779 26.9246 21.8779 30.2971 23.8392 32.5792C24.5815 33.3907 24.988 34.4537 24.9767 35.5534C24.9926 36.6492 24.5862 37.7091 23.8417 38.5134C22.9148 39.5702 22.3922 40.9212 22.3667 42.3267C22.356 42.7209 22.623 43.0687 23.0067 43.16C23.498 43.277 24.0016 43.3347 24.5067 43.3317C29.29 43.3234 33.1734 38.2759 33.1659 32.0817C33.1742 26.5925 30.1592 21.9317 25.9992 20.9984C25.507 20.889 25.0043 20.8337 24.5 20.8334C21.7009 20.8417 19.0684 22.6 17.4584 25.5359C17.3525 25.73 17.3282 25.9583 17.3907 26.1704C17.4532 26.3825 17.5975 26.561 17.7917 26.6667ZM26.5325 22.9167C29.4259 24.1292 31.5067 27.8692 31.5 32.0834C31.5067 37.36 28.3692 41.6592 24.5059 41.6667C24.3684 41.6667 24.235 41.6617 24.1042 41.6517C24.2717 40.8602 24.6412 40.1256 25.1767 39.5192C27.1373 37.2369 27.1373 33.8649 25.1767 31.5825C24.4335 30.7716 24.0266 29.7083 24.0384 28.6084C24.0224 27.5125 24.4288 26.4526 25.1734 25.6484C25.8434 24.863 26.3102 23.9249 26.5325 22.9167Z' fill='white')
							path(d='M0.596683 25.5042C0.244203 27.4849 0.109235 29.4982 0.194183 31.5083C0.345176 37.6104 3.38039 43.2795 8.37502 46.7883C11.5202 48.888 15.2184 50.0058 19 50C26.987 49.9673 34.128 45.0164 36.96 37.5483C37.7489 35.1057 38.112 32.5456 38.0334 29.98C37.8895 26.3319 37.0109 22.7504 35.45 19.45C33.1855 14.6946 30.371 10.2213 27.0642 6.12165C26.5717 5.48832 26.0734 4.79249 25.5642 4.08499C24.6843 2.80285 23.7299 1.57351 22.7059 0.40332C22.3861 0.0543449 21.8966 -0.0840549 21.4414 0.0457969C20.9862 0.175649 20.6434 0.551474 20.5559 1.01665C20.4725 1.45082 20.3892 1.92749 20.2967 2.43332C19.7134 5.68332 18.5309 12.44 16.5467 12.3408C15.6459 12.2908 15.3492 10.8967 15.075 9.19249C14.9682 8.51848 14.8984 7.83913 14.8659 7.15749C14.8402 6.59752 14.4437 6.12365 13.8971 5.99958C13.3504 5.87551 12.7882 6.1318 12.5233 6.62582C11.321 8.94371 10.6503 11.5004 10.56 14.11C10.5057 15.272 10.5434 16.4364 10.6725 17.5925C10.8734 18.6042 10.7321 19.6541 10.2709 20.5767C10.1666 20.7181 10.006 20.8072 9.83085 20.8208C9.64575 20.8487 9.45774 20.7939 9.31668 20.6708C8.45168 19.9617 8.23335 17.4458 8.15668 16.6217C8.08308 15.7019 8.06332 14.7787 8.09752 13.8567C8.11948 13.3032 7.77458 12.8012 7.25002 12.6233C6.73247 12.4468 6.16045 12.6312 5.84335 13.0767C3.21779 16.7719 1.43063 20.9958 0.606683 25.4533C0.602516 25.47 0.599183 25.4875 0.596683 25.5042ZM6.41668 15.1933C6.42502 15.7422 6.45057 16.2664 6.49335 16.7658C6.67002 18.7658 7.01835 20.9417 8.25668 21.9583C8.74428 22.3637 9.37696 22.5511 10.0067 22.4767C10.6216 22.4148 11.1849 22.1052 11.5667 21.6192C12.5384 20.41 12.4209 18.2717 12.3259 17.4083C12.2065 16.34 12.1717 15.2638 12.2217 14.19C12.2953 12.3528 12.6718 10.5404 13.3358 8.82582C13.3633 9.04499 13.3942 9.26332 13.43 9.48166C13.7117 11.2317 14.1367 13.8758 16.4509 14.0042C19.8459 14.185 21.0142 7.83749 21.9342 2.72832C21.9681 2.53721 22.0017 2.3511 22.035 2.16999C22.7742 3.05582 23.5017 4.06915 24.2092 5.05665C24.7292 5.78165 25.2417 6.49582 25.7467 7.14499C28.9731 11.1438 31.7198 15.5069 33.9309 20.145C35.3986 23.2422 36.2265 26.6037 36.365 30.0283C36.4392 32.391 36.1086 34.7489 35.3875 37C32.7935 43.8025 26.2803 48.307 19 48.3333C15.5476 48.3391 12.1713 47.3187 9.30002 45.4017C4.74641 42.1887 1.98552 37.0074 1.85835 31.4358C1.77868 29.5482 1.90554 27.6575 2.23668 25.7975C2.23668 25.7833 2.24335 25.7692 2.24585 25.755C2.93721 21.997 4.35386 18.4097 6.41668 15.1933Z' fill='white')

				.col-xs-6.col-md-5.layout-item-2
					+blurb-side({
						title: 'Wholesale and retail',
						text: 'We provide the best coffee to individual customers as well as to shops and supermarkets.'
					})
						svg( width='50' height='50' viewBox='0 0 50 50' fill='none' )
							path(d='M1.71918 18.1958L2.12418 23.3475C1.68395 23.3787 1.27454 23.5848 0.987256 23.9199C0.699975 24.2549 0.558725 24.691 0.595014 25.1308L1.91001 41.7975C1.98211 42.6624 2.70294 43.329 3.57085 43.3333H3.69668L4.04501 47.7058C4.14957 49.0056 5.2377 50.0055 6.54168 50H20.125C21.4315 50.0041 22.5209 49.0015 22.625 47.6991L22.97 43.3333H23.0958C23.9638 43.329 24.6846 42.6624 24.7567 41.7975L26.0717 25.1308C26.108 24.691 25.9667 24.2549 25.6794 23.9199C25.3922 23.5848 24.9827 23.3787 24.5425 23.3475L24.9483 18.1958C25.9705 17.861 26.663 16.9088 26.6667 15.8333V14.0558C26.6625 12.7415 25.6445 11.6533 24.3333 11.5616L24.1667 11.55V9.16663C24.1667 7.78591 23.0474 6.66663 21.6667 6.66663H5.00001C3.6193 6.66663 2.50001 7.78591 2.50001 9.16663V10.13C1.83729 10.1248 1.20008 10.3851 0.730432 10.8527C0.260789 11.3203 -0.00223174 11.9564 1.42672e-05 12.6191V15.8333C0.00355545 16.9092 0.696566 17.8615 1.71918 18.1958ZM22.8717 23.3333H3.79501L3.40168 18.3333H23.265L22.8717 23.3333ZM20.9617 47.5608C20.9297 47.9971 20.5658 48.3345 20.1283 48.3333H6.54168C6.10656 48.3347 5.74359 48.0011 5.70835 47.5675L5.36918 43.3333H21.2975L20.9617 47.5608ZM23.0958 41.6666H3.57168L2.25668 25H24.41L23.0958 41.6666ZM5.00001 8.33329H21.6667C22.1269 8.33329 22.5 8.70639 22.5 9.16663V11.4391L4.16668 10.2241V9.16663C4.16668 8.70639 4.53978 8.33329 5.00001 8.33329ZM1.66668 12.6191C1.66668 12.1589 2.03978 11.7858 2.50001 11.7858H2.56001L3.31668 11.8358H3.33418H3.34335L24.225 13.22C24.6627 13.2502 25.0019 13.6146 25.0008 14.0533V15.8333C25.0008 16.2935 24.6278 16.6666 24.1675 16.6666H2.50001C2.03978 16.6666 1.66668 16.2935 1.66668 15.8333V12.6191Z' fill='white')
							path(d='M9.25003 29.25C6.35003 32.14 5.8242 36.3334 8.07837 38.595C9.04704 39.5255 10.3482 40.0288 11.6909 39.9925C13.8631 39.9165 15.9188 38.9917 17.4167 37.4167C20.3159 34.5267 20.8417 30.3334 18.5875 28.0725C16.3334 25.8117 12.1367 26.3484 9.25003 29.25ZM10.4284 30.4284C11.6127 29.1661 13.2412 28.4134 14.97 28.3292C15.8204 28.3084 16.648 28.6055 17.2909 29.1625C16.9818 29.2899 16.6559 29.3719 16.3234 29.4059C14.2893 29.5723 12.6751 31.1875 12.51 33.2217C12.45 34.5219 11.4102 35.5628 10.11 35.6242C9.5456 35.681 8.99615 35.8396 8.48837 36.0925C7.99003 34.4042 8.6942 32.1517 10.4267 30.425L10.4284 30.4284ZM16.2434 36.2434C14.0542 38.44 11.0117 38.9867 9.37503 37.515C9.68565 37.385 10.0135 37.3008 10.3484 37.265C12.3825 37.0987 13.9966 35.4834 14.1617 33.4492C14.2218 32.149 15.2615 31.1081 16.5617 31.0467C17.1261 30.99 17.6756 30.8313 18.1834 30.5784C18.6775 32.2625 17.9725 34.5142 16.2417 36.24L16.2434 36.2434Z' fill='white')
							path(d='M13.6358 4.99333C13.8555 5.0228 14.0777 4.96304 14.253 4.82743C14.4282 4.69182 14.5418 4.49165 14.5683 4.27167L14.9 1.66667H43.22L42.5833 6.66667H41.6667C41.2064 6.66667 40.8333 7.03976 40.8333 7.5C40.8333 7.96024 41.2064 8.33333 41.6667 8.33333H42.3692L38.4325 39.1667H27.4083C26.9481 39.1667 26.575 39.5398 26.575 40C26.575 40.4602 26.9481 40.8333 27.4083 40.8333H39.1667C39.2588 40.8319 39.3501 40.815 39.4367 40.7833C39.4667 40.7725 39.4933 40.7567 39.52 40.7433C39.5568 40.7294 39.5924 40.7127 39.6267 40.6933L44.5333 37.4225L48.765 36.0117C49.5317 35.7564 50.0049 34.9879 49.8875 34.1883L44.9908 0.7125C44.9846 0.691239 44.9771 0.670369 44.9683 0.65C44.9562 0.600558 44.9388 0.552521 44.9167 0.506667C44.8927 0.447556 44.8617 0.391587 44.8242 0.34C44.8109 0.321667 44.8067 0.299167 44.7917 0.281667C44.7767 0.264167 44.75 0.255 44.7308 0.2375C44.6832 0.1918 44.63 0.152319 44.5725 0.12C44.533 0.0971105 44.4918 0.0773287 44.4492 0.0608333C44.388 0.0395937 44.3245 0.0258817 44.26 0.02C44.2293 0.0116592 44.1981 0.00498284 44.1667 0H14.9C14.0631 0.00148493 13.3571 0.62334 13.25 1.45333L12.9167 4.06167C12.8586 4.51736 13.1803 4.93408 13.6358 4.99333ZM48.2408 34.43L45 35.51V25C45 24.5398 44.6269 24.1667 44.1667 24.1667C43.7064 24.1667 43.3333 24.5398 43.3333 25V36.2208L40.225 38.2933L44.225 6.97333L48.2408 34.43Z' fill='white')
							path(d='M38.3335 6.66663H36.6668C36.2066 6.66663 35.8335 7.03972 35.8335 7.49996C35.8335 7.9602 36.2066 8.33329 36.6668 8.33329H38.3335C38.7937 8.33329 39.1668 7.9602 39.1668 7.49996C39.1668 7.03972 38.7937 6.66663 38.3335 6.66663Z' fill='white')
							path(d='M33.3333 8.33329C33.7935 8.33329 34.1666 7.9602 34.1666 7.49996C34.1666 7.03972 33.7935 6.66663 33.3333 6.66663H31.6666C31.2063 6.66663 30.8333 7.03972 30.8333 7.49996C30.8333 7.9602 31.2063 8.33329 31.6666 8.33329H33.3333Z' fill='white')
							path(d='M29.1668 7.49996C29.1668 7.03972 28.7937 6.66663 28.3335 6.66663H26.6668C26.2066 6.66663 25.8335 7.03972 25.8335 7.49996C25.8335 7.9602 26.2066 8.33329 26.6668 8.33329H28.3335C28.7937 8.33329 29.1668 7.9602 29.1668 7.49996Z' fill='white')
							path(d='M33.4417 25.8334H28.4583C27.9981 25.8334 27.625 26.2065 27.625 26.6668C27.625 27.127 27.9981 27.5001 28.4583 27.5001H33.4417C34.2699 27.4962 34.971 26.8878 35.0917 26.0684L36.5258 16.0601C36.5913 15.5831 36.4473 15.101 36.1309 14.7381C35.8144 14.3752 35.3565 14.1668 34.875 14.1667H29.1667C28.7064 14.1667 28.3333 14.5398 28.3333 15.0001C28.3333 15.4603 28.7064 15.8334 29.1667 15.8334H34.875L33.4417 25.8334Z' fill='white')

					+blurb-side({
						title: 'Express delivery',
						text: 'Our coffee delivery service is available to all US residents any time of the year, 24/7.'
					})
						svg( width='50' height='36' viewBox='0 0 50 36' fill='none' )
							path(d='M50 17.2834C49.9946 16.0932 49.1547 15.0703 47.9883 14.8334L45.5833 14.35L42.1267 6.75004H45C45.9205 6.75004 46.6667 6.00385 46.6667 5.08337V2.58337C46.6667 1.20266 45.5474 0.083374 44.1667 0.083374H2.5C1.11929 0.083374 0 1.20266 0 2.58337V28.4167C0 29.7974 1.11929 30.9167 2.5 30.9167H3.4C3.58189 32.1838 4.17682 33.3555 5.0925 34.25H0.833333C0.373096 34.25 0 34.6231 0 35.0834C0 35.5436 0.373096 35.9167 0.833333 35.9167H49.1667C49.6269 35.9167 50 35.5436 50 35.0834C50 34.6231 49.6269 34.25 49.1667 34.25H44.9075C45.8232 33.3555 46.4181 32.1838 46.6 30.9167H47.5C48.8807 30.9167 50 29.7974 50 28.4167V17.2834ZM43.7058 14.25H35V10.0834H41.8108L43.7058 14.25ZM1.66667 28.4167V2.58337C1.66667 2.12314 2.03976 1.75004 2.5 1.75004H44.1667C44.6269 1.75004 45 2.12314 45 2.58337V5.08337H40C39.9792 5.08337 39.9625 5.09337 39.9417 5.09504C39.8808 5.09504 39.8217 5.08337 39.7583 5.08337H32.5C31.1193 5.08337 30 6.20266 30 7.58337V29.25H14.9333C14.5214 26.3819 12.0642 24.2524 9.16667 24.2524C6.26908 24.2524 3.81191 26.3819 3.4 29.25H2.5C2.03976 29.25 1.66667 28.8769 1.66667 28.4167ZM5 30.0834C5 27.7822 6.86548 25.9167 9.16667 25.9167C11.4679 25.9167 13.3333 27.7822 13.3333 30.0834C13.3333 32.3846 11.4679 34.25 9.16667 34.25C6.86662 34.2473 5.00276 32.3834 5 30.0834ZM13.2408 34.25C14.1565 33.3555 14.7514 32.1838 14.9333 30.9167H35.0667C35.2486 32.1838 35.8435 33.3555 36.7592 34.25H13.2408ZM40.8333 34.25C38.5321 34.25 36.6667 32.3846 36.6667 30.0834C36.6667 27.7822 38.5321 25.9167 40.8333 25.9167C43.1345 25.9167 45 27.7822 45 30.0834C44.9972 32.3834 43.1334 34.2473 40.8333 34.25ZM47.5 29.25H46.6C46.1881 26.3819 43.7309 24.2524 40.8333 24.2524C37.9357 24.2524 35.4786 26.3819 35.0667 29.25H31.6667V7.58337C31.6667 7.12314 32.0398 6.75004 32.5 6.75004H39.7583C39.81 6.75004 39.8633 6.75671 39.8767 6.75754C40.1577 6.79782 40.3989 6.9784 40.5167 7.23671L41.0533 8.41671H35C34.0795 8.41671 33.3333 9.1629 33.3333 10.0834V14.25C33.3333 15.1705 34.0795 15.9167 35 15.9167H44.9167L47.6583 16.4667C48.0481 16.5449 48.3296 16.8858 48.3325 17.2834V18.4167H45.8333C44.4526 18.4167 43.3333 19.536 43.3333 20.9167C43.3333 22.2974 44.4526 23.4167 45.8333 23.4167H48.3333V28.4167C48.3333 28.8769 47.9602 29.25 47.5 29.25ZM48.3333 21.75H45.8333C45.3731 21.75 45 21.3769 45 20.9167C45 20.4565 45.3731 20.0834 45.8333 20.0834H48.3333V21.75Z' fill='white')
							path(d='M9.1665 27.5834C7.78579 27.5834 6.6665 28.7027 6.6665 30.0834C6.6665 31.4641 7.78579 32.5834 9.1665 32.5834C10.5472 32.5834 11.6665 31.4641 11.6665 30.0834C11.6665 28.7027 10.5472 27.5834 9.1665 27.5834ZM9.1665 30.9167C8.70627 30.9167 8.33317 30.5436 8.33317 30.0834C8.33317 29.6231 8.70627 29.25 9.1665 29.25C9.62674 29.25 9.99984 29.6231 9.99984 30.0834C9.99984 30.5436 9.62674 30.9167 9.1665 30.9167Z' fill='white')
							path(d='M40.8332 27.5834C39.4525 27.5834 38.3333 28.7027 38.3333 30.0834C38.3333 31.4641 39.4525 32.5834 40.8332 32.5834C42.214 32.5834 43.3332 31.4641 43.3332 30.0834C43.3332 28.7027 42.214 27.5834 40.8332 27.5834ZM40.8332 30.9167C40.373 30.9167 39.9999 30.5436 39.9999 30.0834C39.9999 29.6231 40.373 29.25 40.8332 29.25C41.2935 29.25 41.6666 29.6231 41.6666 30.0834C41.6666 30.5436 41.2935 30.9167 40.8332 30.9167Z' fill='white')
							path(d='M36.6667 18.4167H35.0001C34.5398 18.4167 34.1667 18.7898 34.1667 19.2501C34.1667 19.7103 34.5398 20.0834 35.0001 20.0834H36.6667C37.127 20.0834 37.5001 19.7103 37.5001 19.2501C37.5001 18.7898 37.127 18.4167 36.6667 18.4167Z' fill='white')
							path(d='M10.25 19.8334C12.3247 22.0145 15.1716 23.2956 18.18 23.4017C20.0067 23.4531 21.7778 22.7699 23.0967 21.505C26.1667 18.4167 25.4167 12.6542 21.4167 8.66669C17.4267 4.66669 11.6667 3.91669 8.57168 6.99419C5.50001 10.0834 6.25001 15.845 10.25 19.8334ZM13.5 6.74336C16.0654 6.86057 18.4844 7.97216 20.2442 9.84252C22.9558 12.5467 23.9625 16.1425 22.9617 18.7075C22.1828 18.2307 21.3033 17.9425 20.3933 17.8659C18.3786 17.7548 16.7704 16.1449 16.6617 14.13C16.4467 11.3819 14.2647 9.1984 11.5167 8.98169C10.8329 8.9359 10.1702 8.72579 9.58501 8.36919C9.64334 8.30336 9.69418 8.23336 9.75668 8.17086C10.763 7.21324 12.1116 6.69957 13.5 6.74502V6.74336ZM8.70834 9.79086C9.4872 10.2676 10.3667 10.5559 11.2767 10.6325C13.2914 10.7435 14.8996 12.3535 15.0083 14.3684C15.2233 17.1165 17.4053 19.3 20.1533 19.5167C20.8371 19.5625 21.4998 19.7726 22.085 20.1292C22.0267 20.195 21.9758 20.265 21.9133 20.3275C19.4725 22.7592 14.7692 22.01 11.4275 18.6609C8.71334 15.9517 7.70751 12.3567 8.70834 9.79086Z' fill='white')

	section.section.section-lg.bg-gray-lightest
		.container-wide.container-fluid
			.row.row-40.row-xl-70
				.col-lg-10.col-xl-8.col-xxl-5.offset-lg-1.text-block-1
					h1 Our store
					h5 Our online store offers a great variety of popular coffee drinks as well as our own specialty coffees. They are available for order at very affordable prices.
				.col-lg-10.col-xl-9.offset-lg-1
					.owl-carousel.owl-carousel-product( data-items='1', data-sm-items='2', data-xl-items='3', data-loop='false', data-nav='true', data-margin='30', data-mouse-drag="false", data-dots="false", data-autoplay='false' )
						+product-simple({
							img: 'index-variant-5-04-268x268.png',
							title: 'Lavazza <br>Crema e Gusto',
							text: 'Lavazza Crema e Gusto Espresso is a special blend of Robusta and Arabica beans.',
							price: '$14.00'
						})
						+product-simple({
							img: 'index-variant-5-05-268x268.png',
							title: 'Maxwell House Original Roast Ground Coffee',
							text: 'Lavazza Crema e Gusto Espresso is a special blend of Robusta and Arabica beans.',
							price: '$14.00'
						})
						+product-simple({
							img: 'index-variant-5-06-268x268.png',
							title: 'Douwe Egberts Filter Blend Ground Coffee Medium Roast',
							text: 'Douwe Egberts Real Coffee is a blend of the world’s finest quality beans.',
							price: '$14.00'
						})
						+product-simple({
							img: 'index-variant-5-07-268x268.png',
							title: 'Don Francisco Hawaiian Hazelnut Coffee 12 Ounce',
							text: 'One of the best hazelnut coffees, and if you are a big coffee drinker, you must try it.',
							price: '$14.00'
						})
						+product-simple({
							img: 'index-variant-5-04-268x268.png',
							title: 'Lavazza <br>Crema e Gusto',
							text: 'Lavazza Crema e Gusto Espresso is a special blend of Robusta and Arabica beans.',
							price: '$14.00'
						})
						+product-simple({
							img: 'index-variant-5-05-268x268.png',
							title: 'Maxwell House Original Roast Ground Coffee',
							text: 'Lavazza Crema e Gusto Espresso is a special blend of Robusta and Arabica beans.',
							price: '$14.00'
						})
						+product-simple({
							img: 'index-variant-5-06-268x268.png',
							title: 'Douwe Egberts Filter Blend Ground Coffee Medium Roast',
							text: 'Douwe Egberts Real Coffee is a blend of the world’s finest quality beans.',
							price: '$14.00'
						})
						+product-simple({
							img: 'index-variant-5-07-268x268.png',
							title: 'Don Francisco Hawaiian Hazelnut Coffee 12 Ounce',
							text: 'One of the best hazelnut coffees, and if you are a big coffee drinker, you must try it.',
							price: '$14.00'
						})

	section.section.section-lg.bg-default
		.container-wide.container-fluid
			.row.row-30
				.col-lg-9.col-xl-6.offset-xl-1.text-block-1.mt-xl-5
					h1 Testimonials
					h5: span.d-inline-block( style='max-width: 670px' ) We provide the best coffee to individual customers as well as to shops and supermarkets. Here are the recent customer reviews.
					.row.row-offset-1
						.col-md-11.offset-md-1.offset-xl-2
							+quote-custom({
								img: 'user-12-100x100',
								quote: 'I started getting coffee from Beans long before it was possible to buy freshly roasted fair trade coffee closer to home. I\'ve tried others, but none are as good as the ones made by Beans’ team.',
								cite: 'Cody Fisher'
							})
							+quote-custom({
								img: 'user-13-100x100',
								quote: 'When I moved to LA last year, I tried all organic French roast coffee sold here, finding nothing close to Beans French Roast aroma, taste and smoothness. Luckily I can buy 5 pounds of beans through your website.',
								cite: 'Courtney Henry'
							})
							+quote-custom({
								img: 'user-14-100x100',
								quote: 'I’ve been ordering beans from you for ten years. The quality of the product is consistently high! I’m grateful for the care that is apparently put into the roasts and the excellent customer service.',
								cite: 'Floyd Miles'
							})
				.col-md-3.col-xl-3.offset-xl-1.d-none.d-lg-block
					+img( 'index-variant-5-08-420x590' )

	section.section.bg-default
		.row.g-0( data-lightgallery='group' )
			.col-6.col-xs-4.col-sm-20
				+thumbnail-simple({
					img: 'index-variant-5-09-384x384',
					imgOriginal: 'index-variant-5-09-1200x800'
				})
			.col-6.col-xs-4.col-sm-20
				+thumbnail-simple({
					img: 'index-variant-5-10-384x384',
					imgOriginal: 'index-variant-5-10-1200x800'
				})
			.col-6.col-xs-4.col-sm-20
				+thumbnail-simple({
					img: 'index-variant-5-11-384x384',
					imgOriginal: 'index-variant-5-11-1200x800'
				})
			.col-6.col-xs-4.col-sm-20
				+thumbnail-simple({
					img: 'index-variant-5-12-384x384',
					imgOriginal: 'index-variant-5-12-1200x800'
				})
			.col-12.col-xs-4.col-sm-20
				+thumbnail-simple({
					img: 'index-variant-5-13-384x384',
					imgOriginal: 'index-variant-5-13-1200x800'
				})

	//- Page Footer
	include ../sections/_footer-simple


