extends  ../_skeleton

block variables
	-footerBackSection = "section-2"
	- pageName = 'Single Service'

block page
	//- Page Header
	include ../sections/_header-minimal-dark

	section#section-1.section-fullwidth.section-animate.animate-content
		.section-animate-wrapper
			.container-fluid
				.row.justify-content-sm-center.g-0-xl
					.col-xl-6
						+breadcrumbs({
							bg: 'background-03-960x1080.jpg'
						})
					.col-sm-10.col-lg-8.col-xl-6.section-fullwidth-body.section-fullwidth-body-scroll.scroll-wrap.bg-lg-gray-lighter-2.text-start
						.section-fullwidth-body-inner.section-fullwidth-body-offset-top.section-lg
							h3 Roasting
							.divider.divider-lg.divider-left-0.divider-primary
							p What’s your favorite coffee roast? Dark? Light? Somewhere in between? Whatever your answer is, our coffee experts can roast any coffee the way you like it. We are nationally certified and qualified for supplying, preparing, and roasting the best beans.
							img(src="images/single-service-01-640x360.jpg" width="640" height="360" alt="")
							p Before roasting, we get green coffee beans that are soft, with a fresh “grassy” smell and little or no taste. The coffee roasting process transforms these raw beans into the distinctively aromatic, flavorful, crunchy beans that are recognized as coffee.
							a.button.button-sm.button-primary(href="checkout.html") Order Roasting
							h3 Our Advantages
							.divider.divider-lg.divider-left-0.divider-primary
							.row.justify-content-sm-center.row-40.icons-wrap
								.col-sm-6.col-xl-12.col-xxl-6
									.box-offer.box-offer-white
										span.icon.icon-md.icon-circle.icon-circle-xl.icon-outline.icon-bordered.mdi.mdi-headset.icon-primary
										h6 Free Consultations
										.divider.divider-lg
										p Have a question about our products or services? Call us to get a free consultation.

								.col-sm-6.col-xl-12.col-xxl-6
									.box-offer.box-offer-white
										span.icon.icon-md.icon-circle.icon-circle-xl.icon-outline.icon-bordered.mdi.mdi-account-check.icon-primary
										h6 Qualified Specialists
										.divider.divider-lg
										p Beans is a team of seasoned coffee experts that know how to make coffee properly.

								.col-sm-6.col-xl-12.col-xxl-6
									.box-offer.box-offer-white
										span.icon.icon-text.icon-md.icon-circle.icon-circle-xl.icon-outline.icon-bordered.icon-primary
											span.heading-3 12
										h6 Supplying Сountries
										.divider.divider-lg
										p We order coffee beans from 12 countries that specialize in coffee production.

								.col-sm-6.col-xl-12.col-xxl-6
									.box-offer.box-offer-white
										span.icon.icon-md.icon-circle.icon-circle-xl.icon-outline.icon-bordered.mdi.mdi-seal.icon-primary
										h6 Quality Guarantee
										.divider.divider-lg
										p Every coffee drink you buy or order at our shop has 100% quality guarantee
							h3 Testimonials
							.divider.divider-lg.divider-left-0.divider-primary
							.row.justify-content-sm-center.row-40.quote-box-comment-wrap
								.col-sm-12
									.quote.quote-box-comment
										.unit.align-items-center.flex-row.quote-box-comment-author
											.unit-left
												img.rounded-circle(src="images/user-01-80x80.jpg" width="80" height="80" alt="")
											.unit-body
												h6.quote-box-comment-author-title
													a(href="team-member-profile.html") Angela Gonzales
												p Manager

										.quote-box-comment-body
											span.icon.icon-rotate-180.icon-md.mdi.mdi-format-quote
											p When I moved to LA last year, I tried all organic French roast coffee sold here, finding nothing  close to Beans French Roast aroma, taste and smoothness. Luckily I can buy 5 pounds of beans through your website. It’s a real pleasure to have my favorite coffee delivered home.
								.col-sm-12
									.quote.quote-box-comment
										.unit.align-items-center.flex-row.quote-box-comment-author
											.unit-left
												img.rounded-circle(src="images/user-02-80x80.jpg" width="80" height="80" alt="")
											.unit-body
												h6.quote-box-comment-author-title
													a(href="team-member-profile.html") Olivia Myers
												p Designer

										.quote-box-comment-body
											span.icon.icon-rotate-180.icon-md.mdi.mdi-format-quote
											p I’ve been ordering beans from you for ten years. The quality of the product is consistently high! I’m grateful for the care that is apparently put into the roasts and the excellent customer service. Your beans give way to one of the best cups of coffee I’ve ever tasted.

			a.section-button-forward.section-button-forward-bottom.mdi.mdi-chevron-down(href="#" data-custom-scroll-to="section-2")

	section#section-2.section-fullwidth.section-animate.animate-content
		.section-animate-wrapper
			a.section-button-forward.section-button-forward-top.mdi.mdi-chevron-up(href="#" data-custom-scroll-to="section-1")
			.container-fluid
				.row.justify-content-sm-center.g-0-xl
					.col-xl-6
						.sticky.sticky-top
							.section-cover(style="background: #302f2f url(images/background-02-960x1080.jpg) center/cover no-repeat; padding-bottom: 26%;")
					.col-sm-10.col-lg-8.col-xl-6.section-fullwidth-body.bg-default.text-start
						.section-fullwidth-body-inner
							.row.justify-content-sm-center.align-items-sm-center.section-xs
								.col-sm-12
									h3 Get in Touch
									.divider.divider-lg.divider-left-0.divider-primary

									//- RD Mailform
									form.rd-mailform.text-start.feedback-form(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
										.row.justify-content-sm-center.row-15
											.col-md-12
												.form-wrap.form-wrap-validation
													label.form-label.form-label-outside(for="services-name") First name
													input#services-name.form-input(type="text" name="name" data-constraints='@Required')
											.col-md-12
												.form-wrap.form-wrap-validation
													label.form-label.form-label-outside(for="services-last-name") Last name
													input#services-last-name.form-input(type="text" name="last-name" data-constraints="@Required")
											.col-md-6
												.form-wrap.form-wrap-validation
													label.form-label.form-label-outside(for="services-email") E-mail
													input#services-email.form-input(type="email" name="email" data-constraints="@Email @Required")
											.col-md-6
												.form-wrap.form-wrap-validation
													label.form-label.form-label-outside(for="services-phone") Phone
													input#services-phone.form-input(type="text" name="phone" data-constraints="@Numeric @Required")
											.col-md-12
												.form-wrap.form-wrap-validation
													label.form-label.form-label-outside(for="services-message") Message
													textarea#services-message.form-input(name="message" data-constraints="@Required" style="min-height: 200px;")

										.button-wrap
											button(type="submit").button.button-primary Send


			a.section-button-forward.section-button-forward-bottom.mdi.mdi-chevron-down(href="#" data-custom-scroll-to="footer")

	//- Page Footer
	include ../sections/_footer-divided
