footer.page-footer.page-footer-corporate.section-lg.section-lg--inset-bottom-60.bg-gray-dark.text-start
	.container-wide.container-fluid
		.row.justify-content-sm-center.row-40
			.col-md-6.col-xl-3
				a.brand(href="index.html")
					img(src="images/logo-light-150x150.png", width="150", height="150", alt="")
				p Hello! We are Beans Coffee Production, a company that is passionate about making and selling coffee with a great flavor. Our team of dedicated coffee experts celebrates exceptional coffee brands and roasters by providing our guests the unique opportunity to try coffee the highest quality.

			.col-md-6.col-xl-3
				h6 Recent Articles

				article.post-recent
					.post-recent-title
						a(href="blog-post.html") Top 5 Coffee Shops to Visit This Year
					.post-recent-body
						.unit.align-items-center.flex-row.unit-spacing-xxs
							.unit-left
								span.icon.icon-sm.mdi.mdi-newspaper.icon-gray-lighter
							.unit-body
								p The New York Times

						.post-meta.unit.align-items-center.flex-row.unit-spacing-xxs
							.unit-left
								span.icon.icon-sm.mdi.mdi-calendar.icon-gray-lighter
							.unit-body
								p Nov 23, 2023
					.hr-custom
				article.post-recent
					.post-recent-title
						a(href="blog-post.html") Where to Buy & Roast Coffee Beans
					.post-recent-body
						.unit.align-items-center.flex-row.unit-spacing-xxs
							.unit-left
								span.icon.icon-sm.mdi.mdi-newspaper.icon-gray-lighter
							.unit-body
								p The New York Times

						.post-meta.unit.align-items-center.flex-row.unit-spacing-xxs
							.unit-left
								span.icon.icon-sm.mdi.mdi-calendar.icon-gray-lighter
							.unit-body
								p Nov 24, 2023



			.col-md-6.col-xl-3
				h6 Contact Information

				.contact-info
					.unit.flex-row.unit-spacing-xxs
						.unit-left
							span.icon.icon-sm.mdi.mdi-map-marker.icon-primary
						.unit-body
							p
								a(href="contacts.html") Fulton Street, San Diego, #[br] CA 94117-1080 USA

					.unit.flex-row.unit-spacing-xxs
						.unit-left
							span.icon.icon-sm.mdi.mdi-calendar-clock.icon-primary
						.unit-body
							p Monday–Sunday: 10:00am—02:00am

					.unit.flex-row.unit-spacing-xxs
						.unit-left
							span.icon.icon-sm.mdi.mdi-phone.icon-primary
						.unit-body
							p
								a(href="tel:#") 1-800-1234-567
							p
								a(href="tel:#") 1-800-7653-876

					.unit.flex-row.unit-spacing-xxs
						.unit-left
							span.icon.icon-sm.mdi.mdi-email-outline.icon-primary
						.unit-body
							a(href="mailto:#") mail@demolink.org

					ul.list-inline.list-inline-12.list-inline-gray-lighter
						li
							a.icon.icon-sm-mod-20.fa.fa-facebook-f(href="#")
						li
							a.icon.icon-sm-mod-20.fa.fa-twitter(href="#")
						li
							a.icon.icon-sm-mod-20.fa.fa-instagram(href="#")

						li
							a.icon.icon-sm-mod-20.fa.fa-google(href="#")
						li
							a.icon.icon-sm-mod-20.fa.fa-pinterest-p(href="#")
						li
							a.icon.icon-sm-mod-20.fa.fa-linkedin(href="#")

			.col-md-6.col-xl-3
				//- RD Google Map
				.google-map-container( data-center='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-zoom='5', data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png', data-styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]' )
					.google-map
						ul.google-map-markers
							li( data-location='9870 St Vincent Place, Glasgow, DC 45 Fr 45.', data-description='9870 St Vincent Place, Glasgow' )

		.privacy-wrap
			+rights
