footer#footer.page-footer.page-footer-divided.section-fullwidth.bg-gray-dark.footer-classic
	a.section-button-forward.section-button-forward-top.mdi.mdi-chevron-up(href="#" data-custom-scroll-to=footerBackSection)
	.container-fluid
		.row.justify-content-sm-center.g-0
			.col-xl-6

				.sticky.sticky-top-0.d-none.d-xl-block(style="background: #302f2f url(images/background-04-960x1080.jpg) center/cover no-repeat; padding-bottom: 26%; min-height: 200px;")
			.col-xl-6
				.row.justify-content-sm-center.align-items-sm-center.section-xl-mod.section-xl-mod--inset-bottom-50.g-0
					.col-sm-8.col-md-6.col-lg-4.col-xl-6.col-xxl-6.text-center
						a.brand(href="index.html")
							img(src="images/logo-light-150x150.png", width="150", height="150", alt="")
						p Hello! We are Beans Coffee Production, a company that is passionate about making and selling coffee with a great flavor.

						ul.list-inline.list-inline-12.list-inline-gray-lighter
							li
								a.icon.icon-sm-mod-20.fa.fa-facebook-f(href="#")
							li
								a.icon.icon-sm-mod-20.fa.fa-twitter(href="#")
							li
								a.icon.icon-sm-mod-20.fa.fa-instagram(href="#")

							li
								a.icon.icon-sm-mod-20.fa.fa-google(href="#")
							li
								a.icon.icon-sm-mod-20.fa.fa-pinterest-p(href="#")
							li
								a.icon.icon-sm-mod-20.fa.fa-linkedin(href="#")

						.contact-info.contact-info-primary
							span.icon.icon-sm.icon-primary.mdi.mdi-map-marker
							p
								a(href="contacts.html") 2130 Fulton Street, San Diego, #[br] CA 94117-1080 USA

							span.icon.icon-sm.icon-primary.mdi.mdi-calendar-clock
							p 10:00am—02:00am

							span.icon.icon-sm.icon-primary.mdi.mdi-phone
							p
								a(href="tel:#") 1-800-1234-567

							a.button.button-sm.button-primary(href="#") Book a Table
							+rights


